.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.home__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    padding: 0 20px;
}

.comparison__city-back {
    margin: 40px;
}

:where(.css-dev-only-do-not-override-amq5gd).ant-descriptions .ant-descriptions-title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.ant-layout-sider-children {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-container {
    height: 60vh;
    width: 50%;
    border-radius: 2rem;
}

.home__city-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.home__city-add {
    margin-left: 100px;
}

.footer-wrapper {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-descr {
    color: #000;
    font-size: 22px;
}

.footer-text {
    color: #000;
    font-size: 20px;
}

.home__city-map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    min-width: 100%;
}

.custom-select {
    width: 150px;
    height: 48px;
    margin-right: 40px;
}

.custom-select-area {
    width: 320px;
    height: 48px;
    margin-right: 40px;
}

.ant-select-selector:hover,
.ant-btn-default:hover {
    border-color: #82a85d !important;
}

.home__city-statistics {
    min-width: 550px;
    margin-left: 50px;
}

.home__city-descr {
    margin-top: 50px;
}
